$primary-color: #3A80BA;
$background-color: #FFFFFF;
$border-color: #F1F1F1;
$first-table-color: #F1F1F1;
$second-table-color: #FBFBFB;
$dark-text-color: #1A1A1A;
$light-text-color: #FFFFFF;
$secondary-text-color: #7E7E7E;

@import "./styles/custom-components-styles";
@import "./styles/main-page-styles";
@import "./styles/stats-page-styles";
@import "./styles/user-page-styles";
@import "./styles/utilities";


body {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;

  * {
    box-sizing: border-box;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }

  a {
    color: $primary-color;
    text-decoration: none;
    outline: none;
  }
}

.row {
  display: flex;
  flex-direction: row;

  .col {
    width: 100%;
  }
}

.section {
  padding: 1.5em 8em;

  .section-title {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: .6em;
  }

  .section-subtitle {
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: .6em;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .content {
    flex-grow: 1;
  }
}

.header {
  background: $primary-color;
  padding: .6em 8em;
  color: $light-text-color;
}

.header-logo {
  font-size: 2.5em;
  font-weight: 400;
}

.footer {
  background: #1C3B55;
  color: $light-text-color;
  padding: 1.5em 8em;

  .row {
    align-items: center;
  }
}

@import "./styles/responsive-styles";